/**
 * perezoso 1.0.1
 * Repo: https://github.com/roura356a/perezoso
 */

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@mixin round-it() {
  border-radius: 50%;
  width: 4em;
  height: 4em;
  left: calc(50% - 2em);
}

.perezoso-placeholder {
  position: relative;
  border: .6em solid rgba(white, .2);
  border-left-color: #878787;
  animation: rotate360 1s infinite linear;
  @include round-it();
  &:after {
    @include round-it();
  }
}
